In [ ]:
import os
import sys
import urllib.request
import pandas as pd
import json
import re
import requests

start = 1
end = 100
movie_df = pd.DataFrame()
for start_index in range(start,end):
  print('*')
  url ='http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json'
  param = {'key' : '',   # 발급받은 키
          'curPage' : '{}'.format(start_index),
          'openStartDt' : ['2020','2019','2018','2017','2016','2015'],
          'itemPerPage' : '100'}
  rq = requests.get(url, params = param)
  j = rq.json()
  for i in range(0,100):
    try:
      df = pd.DataFrame(columns = j['movieListResult']['movieList'][i].keys(),data = [j['movieListResult']['movieList'][i].values()])
      movie_df=pd.concat([movie_df,df], ignore_index=True)
    except:
      pass
movie_df

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

       movieCd  ...                                           companys
0     20206843  ...                                                 []
1     20181092  ...  [{'companyCd': '20191861', 'companyNm': '오엠지프로...
2     20200554  ...                                                 []
3     20205216  ...                                                 []
4     20205381  ...                                                 []
...        ...  ...                                                ...
1811  20192339  ...                                                 []
1812  20192338  ...                                                 []
1813  20191532  ...  [{'companyCd': '20123227', 'companyNm': '(주)나우...
1814  20192386  ...                                                 []
1815  20193687  ...                                                 []

[1816 rows x 13 columns]

In [ ]:
del movie_df['movieCd']
del movie_df['movieNmEn']
del movie_df['nationAlt']
del movie_df['openDt']
del movie_df['genreAlt']
del movie_df['repGenreNm']
del movie_df['directors']
del movie_df['companys']
del movie_df['prdtStatNm']

In [ ]:
movie_df.groupby(['prdtYear','typeNm']).count()

                 movieNm  repNationNm
prdtYear typeNm
         장편            1            1
1978     장편            1            1
1979     장편            1            1
1986     장편            1            1
1994     장편            1            1
1998     장편            1            1
2003     장편            1            1
2004     장편            1            1
2005     장편            1            1
2007     장편            2            2
2008     장편            1            1
2010     장편            1            1
2011     장편            4            4
2012     장편            3            3
2013     장편            2            2
2014     장편            4            4
2015     장편            6            6
2016     장편            8            8
2017     장편           41           41
2018     장편          202          202
2019     옴니버스          1            1
         장편          980          980
2020     장편          552          552

In [ ]:
movie_name=movie_df['movieNm']

In [ ]:
 url ='http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json'

 for index in movie_name:
  param = {'key' : '',   # 발급받은 키
          'movieCd' : '{}'.format(index)}
  rq = requests.get(url, params = param)
  j = rq.json()
  try:
    df = pd.DataFrame(columns = j['movieListResult']['movieList'][0].keys(),data = [j['movieListResult']['movieList'][0].values()])
    movie_df=pd.concat([movie_df,df], ignore_index=True)
  except:
    pass

In [ ]:
movie_name[0]

'마음 울적한 날엔'

In [ ]:
 url ='http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieList.json'


param = {'key' : '',   # 발급받은 키
        'movieCd' : '{}'.format(movie_name[0])}
rq = requests.get(url, params = param)
j = rq.json()

In [ ]:
j

{'movieListResult': {'movieList': [{'companys': [{'companyCd': '20101558',
      'companyNm': '(주)바른손'}],
    'directors': [{'peopleNm': '정혁기'}],
    'genreAlt': '코미디,드라마',
    'movieCd': '20184243',
    'movieNm': '판소리 복서',
    'movieNmEn': 'My Punch-Drunk Boxer',
    'nationAlt': '한국',
    'openDt': '20191009',
    'prdtStatNm': '개봉',
    'prdtYear': '2019',
    'repGenreNm': '코미디',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [{'companyCd': '20156848', 'companyNm': '(주)백그림'}],
    'directors': [{'peopleNm': '백승환'}],
    'genreAlt': '드라마',
    'movieCd': '20198435',
    'movieNm': '첫잔처럼',
    'movieNmEn': '',
    'nationAlt': '한국',
    'openDt': '20191011',
    'prdtStatNm': '개봉',
    'prdtYear': '2019',
    'repGenreNm': '드라마',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [{'companyCd': '20100947', 'companyNm': '(주)태원엔터테인먼트'}],
    'directors': [{'peopleNm': '곽경택'}, {'peopleNm': '김태훈'}],
    'genreAlt': '전쟁',
    'movieCd': '20193601',
    'movieNm': '장사리 : 잊혀진 영웅들',
    'movieNmEn': 'Battle of Jangsari',
    'nationAlt': '한국',
    'openDt': '20190925',
    'prdtStatNm': '개봉',
    'prdtYear': '2019',
    'repGenreNm': '전쟁',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [{'companyCd': '20175721', 'companyNm': '(주)영화사진'},
     {'companyCd': '20162241', 'companyNm': '엠앤씨에프'}],
    'directors': [{'peopleNm': '고명성'}],
    'genreAlt': '미스터리,스릴러',
    'movieCd': '20191783',
    'movieNm': '열두 번째 용의자',
    'movieNmEn': 'The 12th Suspect',
    'nationAlt': '한국',
    'openDt': '20191010',
    'prdtStatNm': '개봉',
    'prdtYear': '2019',
    'repGenreNm': '미스터리',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [{'companyCd': '20174081', 'companyNm': '(주)오예스'}],
    'directors': [{'peopleNm': '이상훈'}],
    'genreAlt': '코미디',
    'movieCd': '20183848',
    'movieNm': '수상한 이웃',
    'movieNmEn': 'Rainbow Playground',
    'nationAlt': '한국',
    'openDt': '20191009',
    'prdtStatNm': '개봉',
    'prdtYear': '2019',
    'repGenreNm': '코미디',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [{'companyCd': '20100450', 'companyNm': '영화사 집'}],
    'directors': [{'peopleNm': '김한결'}],
    'genreAlt': '멜로/로맨스,코미디',
    'movieCd': '20195920',
    'movieNm': '가장 보통의 연애',
    'movieNmEn': 'Crazy Romance',
    'nationAlt': '한국',
    'openDt': '20191002',
    'prdtStatNm': '개봉',
    'prdtYear': '2019',
    'repGenreNm': '멜로/로맨스',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [{'companyCd': '20124237', 'companyNm': '(주)엠씨엠씨'}],
    'directors': [{'peopleNm': '이은상'}],
    'genreAlt': '드라마',
    'movieCd': '20149501',
    'movieNm': '사선의 끝',
    'movieNmEn': 'The Threshold of Death',
    'nationAlt': '한국',
    'openDt': '20191030',
    'prdtStatNm': '개봉',
    'prdtYear': '2019',
    'repGenreNm': '드라마',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [{'companyCd': '20100543', 'companyNm': '국가인권위원회'},
     {'companyCd': '20192021', 'companyNm': '2X9HD'}],
    'directors': [{'peopleNm': '이옥섭'}],
    'genreAlt': '미스터리,코미디',
    'movieCd': '20181168',
    'movieNm': '메기',
    'movieNmEn': 'Maggie',
    'nationAlt': '한국',
    'openDt': '20190926',
    'prdtStatNm': '개봉',
    'prdtYear': '2018',
    'repGenreNm': '미스터리',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [{'peopleNm': '한유원'},
     {'peopleNm': '강동완'},
     {'peopleNm': '김남석'}],
    'genreAlt': '드라마',
    'movieCd': '20206843',
    'movieNm': '마음 울적한 날엔',
    'movieNmEn': 'One blue rainy day',
    'nationAlt': '한국',
    'openDt': '20201008',
    'prdtStatNm': '개봉',
    'prdtYear': '2020',
    'repGenreNm': '드라마',
    'repNationNm': '한국',
    'typeNm': '장편'},
   {'companys': [],
    'directors': [],
    'genreAlt': '액션',
    'movieCd': '20203679',
    'movieNm': '좀비 아포칼립스',
    'movieNmEn': 'Lost In Apocalypse',
    'nationAlt': '중국',
    'openDt': '',
    'prdtStatNm': '개봉예정',
    'prdtYear': '2018',
    'repGenreNm': '액션',
    'repNationNm': '중국',
    'typeNm': '장편'}],
  'source': '영화진흥위원회',
  'totCnt': 79911}}